.tweet-area__background
  .tweet-area
    = form_for @tweet, url: checked_tweets_path  do |f|
      .tweet__box--top
        = f.label :text, "本当にツイートしますか？"
      .tweet__box--bottom
        = f.text_area :content, :placeholder => "think again before you spit", :class => "new__tweetBox"
        = f.submit "Tweet", :class => "new__tweetBtn"
        / = link_to "Tweet", checked_tweets_path, method: :post, :class => "new__tweetBtn", :type => "hidden", :value => @tweet
        = f.label :image, :class => "new__tweetImageLabel"
        = f.file_field :image, :class => "new__tweetImageBtn"
        .tweet__box--tool


/ = link_to 'Create', hoges_path(hoge: {user_id: current_user.id, body: 'fuga'}), method: :post
/ = f.submit "Tweet", :class => "new__tweetBtn"

/ = link_to "Tweet", checked_tweets_path, method: :post, :class => "new__tweetBtn", :type => "hidden", :value => @tweet