.tweet-area__background
  .tweet-area
    = form_for @tweet do |f|
      .tweet__box--top
        = f.label :text, "本当にツイートしますか？"
      .tweet__box--bottom
        = f.text_field :content, :placeholer => "just give it a shot", :class => "new__tweetBox"
        = link_to 'Tweet', checked_tweets_path, method: :post, :class => "new__tweetBtn"
        = f.label :image, :class => "new__tweetImageLabel"
        = f.file_field :image, :class => "new__tweetImageBtn"
        .tweet__box--tool


/ = link_to 'Create', hoges_path(hoge: {user_id: current_user.id, body: 'fuga'}), method: :post
/ = f.submit "Tweet", :class => "new__tweetBtn"