.tweet-area__background
  .tweet-area
    = form_for @tweet do |f|
      .tweet__box--top
        = f.label :text, "ツイートする"
      .tweet__box--bottom
        = f.text_area :content, :placeholder => "just give it a shot :)", :class => "new__tweetBox", maxlength: "140"
        = f.file_field :image, :class => "new__tweetImageBtn"
        = f.submit "Tweet", :class => "new__tweetBtn"
        .tweet__box--tool
