.header__container
  = render 'layouts/loggedInNavBar'
.largepic-container
  .largepic-area
  .statsbar-area
    .statsbar-area__container
      = render 'layouts/statsbar'
.following
  .index-container
    .index__left
      .index__bio
        .index__bio__box--top
        .index__bio__box--bottom
          .index__bio__box--icon
          .index__bio__box--name
          .index__bio__box--stats
      .index__trends-box
        %h3 プロフィール
    .following__container
      - @nameBox.each do |following|
        .following__area
          .following__cells
            .following__cells__top
            .following__cells__bottom
              - if amIfollowing?(following)
                .following__cells__bottom--btn.followBTNHover.followerFollowBTN
                  = link_to "フォロー中", relation_path(current_user.relations.find_by(following_id:following.id)), method: :delete
              - else
                .following__cells__bottom--btn.followTrigger2{user: {id: current_user.id}, following: {id: following.id}} フォロー
              = link_to following do
                .following__cells__bottom--icon
                  = image_tag following.avatar, class: "iconSmall"
                .following__cells__bottom--name
                  = following.name
              .following__cells__bottom--intro
                = simple_format(following.intro)