.header__container
  = render 'layouts/loggedInNavBar'
.largepic-container
  .largepic-area
  .statsbar-area
    .statsbar-area__container
      = render 'layouts/statsbar'
.index
  .index-container
    = render 'layouts/indexLeft'
    .moment__main
      .moment__main--stream__box
        - if @user.tweets.present?
          = render 'layouts/mainTweet'
        - else
          .moment__main--timeline__tweetbox__area
            .moment__main--timeline__tweetbox.awesome #{@user.name}さんのツイートはまだありません。
      = paginate(@tweets)
      .page-load-status
        .infinite-scroll-request.loader-wheel
          %i
            %i
              %i
                %i
                  %i
                    %i
                      %i
                        %i
                          %i
                            %i
                              %i
                                %i
    .index__right
      = render 'layouts/indexRight'