.header__container
  = render 'layouts/loggedInNavBar'
.largepic-container
  .largepic-area
  .statsbar-area
    .statsbar-area__container
      .statsbar__area__block
        .editBtn__area
          .editBtn
            %p.editBtn--text プロフィールを編集
        .logoutBtn__area
          .logoutBtn
            %p.logoutBtn--text
              = link_to "ログアウト", destroy_user_session_path, method: :delete
        .numOfTweet
          %span.numberOfTweet ツイート
          .itsNumber
            = @myTweetCount
        .numOfFollow
.index
  .index-container
    .index__left
      .index__bio
        .index__bio__box--top
        .index__bio__box--bottom
          .index__bio__box--icon
          .index__bio__box--name
          .index__bio__box--stats
      .index__trends-box
        %h3 プロフィール
    .user__main
      .user__main--timeline__tweetbox
        .tweetBox
          %ul
            %li.tweetBtn
              = link_to "ツイート", user_path(current_user.id)
      .user__main--stream__box
        - @myTweets.each do |tweet|
          .user__main--stream__tweets
            .userIcon
            .nameTime__box
              %li.userAndTime
                = tweet.user.name + "・" +tweet.created_at.strftime("%Y年%m月%d日 %H時%M分")
            %li.tweetContent
              = tweet.content
            %li.tweetImage
              = image_tag tweet.image

    .index__right
      = render 'layouts/indexRight'