.header__container
  = render 'layouts/loggedInNavBar'
.largepic-container
  .largepic-area
  .statsbar-area
    .statsbar-area__container
      = render 'layouts/statsbar'
.following
  .index-container
    = render 'layouts/indexLeft'
    .user__main
      .moment__main--stream__box
        = render 'layouts/mainTweet'
      = paginate(@tweets)
      .page-load-status
        .infinite-scroll-request.loader-wheel
          %i
            %i
              %i
                %i
                  %i
                    %i
                      %i
                        %i
                          %i
                            %i
                              %i
                                %i
    .index__right
      = render 'layouts/indexRight'