.header__container
  .header__space
    %ul.header
      %li.header__list
        .header__list__text ホーム
      %li.header__list
        .header__list__text モーメント
.main-container
  .frontcard
    .frontcard__left
      .frontcard__left--h1 Spitterへようこそ
      .frontcard__left--p 「いま」起きていることを見つけよう。国内のニュースから身近なできごとまで、みんなの話題がわかる。
    .frontcard__right
      .frontcard__right--top
        = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
          .field#email
            = f.email_field :email, :placeholder => "メールアドレス", autofocus: true
          .field#password-box
            = f.password_field :password, :placeholder => "パスワード", autocomplete: "off"
          .actions#action-btn
            = f.submit "ログイン"
          - if devise_mapping.rememberable?
            .field#remember
              = f.check_box :remember_me
              = f.label :保存する
      .frontcard__right--bottom
        .p__head Spitterを使ってみよう
        = render "devise/shared/links"