.statsbar__area__block
  - if current_user == @user
    .editBtn__area
      = link_to edit_user_registration_path do
        .editBtn
          %p.editBtn--text プロフィールを編集
  - else
    .editBtn__area
      = link_to relations_path(user_id:current_user, following_id:@user ), method: :post do
        .editBtn
          %p.editBtn--text フォロー
  .logoutBtn__area
    = link_to destroy_user_session_path, method: :delete do
      .logoutBtn
        %p.logoutBtn--text ログアウト
  .numOfTweet--area
    .numOfTweet__text--area
      %p.numOfTweet--text
        = link_to "ツイート", user_path(@user.id)
    .itsNumber
      = @myTweetCount
  .numOfTweet--area
    .numOfTweet__text--area
      %p.numOfTweet--text
        = link_to "フォロー", following_user_path
    .itsNumber
      = @myFollowingsCount
  .numOfTweet--area
    .numOfTweet__text--area
      %p.numOfTweet--text
        = link_to "フォロワ", follower_user_path
    .itsNumber
      = @myFollowersCount