.statsbar__area__block
  - if current_user == @user
    .editBtn__area
      = link_to edit_user_registration_path do
        .editBtn
          %p.editBtn--text プロフィールを編集
  - else
    .editBtn__area
      = link_to relations_path(user_id:current_user, following_id:@user ), method: :post do
        .editBtn
          %p.editBtn--text フォロー
  .logoutBtn__area
    = link_to destroy_user_session_path, method: :delete do
      .logoutBtn
        %p.logoutBtn--text ログアウト
  .numOfTweet--area
    = link_to user_path(@user.id) do
      .numOfTweet__text--area.numOfTweet--text ツイート
      .itsNumber
        = @myTweetCount
  .numOfTweet--area
    = link_to following_user_path(@user.id) do
      .numOfTweet__text--area.numOfTweet--text フォロー
      .itsNumber.numOfTweet--text
        = @myFollowingsCount
  .numOfTweet--area
    = link_to follower_user_path do
      .numOfTweet__text--area.numOfTweet--text フォロワ
      .itsNumber
        = @myFollowersCount
